*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(203, 200, 200, 0.805);
}
.main-con{
    background-color: rgb(255, 255, 255);
    width: 70vh;
    height: 90vh;
    border-radius: 30px;
}
.container{ 
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-con h2{
    height: 10vh;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container_2{
    height: 70vh;
    width: 100%;
    display: grid;      
    align-items: center;
    justify-items: center;
}
.con{
    width: 60vh;
    height: 60vh;
    background-color: rgb(216, 245, 254);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    border: 1px solid;
}
.con div{ 
    border: 1px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    cursor: pointer;
}
    
.container_3{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_3 button{
    padding: 7px;
    border-radius: 6px;
    font-size: medium;
    cursor: pointer;
}
.container_4{
    height: 10vh;
    background-color: rgb(199, 151, 151);
}

